PORT=5003

DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=

# token secret
JWT_SECRET=your_secret

#-------------------------  google oauth crediential -----------------------start
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=
#-------------------------  google oauth crediential -----------------------end



#---------------------- RATE LIMIT UNDER 15 MIN----------------------
USER_MAX_REQ_LIMIT=100